body {
    background: #7a9acf
}

h1 {
    background: #97b1db;
    border-radius: 15px;
    margin: 1px 15px;

}

div {
    background: #97b1db;
    border-radius: 15px;
    margin: 1px;
    font:initial;

}